body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornsilk
}


h1 {
    font-size:"50";
    color:black;
}

#malaria-stat {
    font-size:"20";
    color:dimgrey;
}

.malaria-story {
    color:darkviolet;
    font-family:monospace
}