body {
    margin: 0 auto;
    background-color: darkgray;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}